# vendor folder
src/vendor/

# proxy classes cache folder
src/TechDivision/PBC/Proxies/cache/*

# map of cached files
src/TechDivision/PBC/Proxies/cacheMap

# the apple directory description
.DS_Store