<phpunit bootstrap="${php-target.dir}/${unique.name}/src/bootstrap.php">
    <testsuites>
	    <testsuite name="php-by-contract Unit Tests">
	        <directory suffix="Test.php">${php-target.dir}/${unique.name}/src</directory>
	    </testsuite>
	</testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">${php-target.dir}/${unique.name}/src</directory>
        </whitelist>
    </filter>
    <!-- Code coverage report, optional -->
    <logging>
        <log type="coverage-clover" target="${php-target.dir}/reports/unit/coverage/clover.xml"/>
    </logging>
    <php>
        <ini name="date.timezone" value="Europe/Berlin"/>
    </php>
</phpunit>